### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen


### Python template
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ide
.idea/
.vscode/
local

